<!DOCTYPE html>
<html>

<head>
  <title>Wildlifetracker</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/app.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="nav">
    <nav class="navbar navbar-findcond navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="#"><img href="images/logo.png" height="30px" width="30px">WildlifeTracker</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Sightings <span class="badge"><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">All sightings</span> >> </a></li>
                <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Add Sighting</span> >></a></li>
                <li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">My Sightings</span> >> </a></li>
              </ul>
            </li>
            <li class="active"><a href="#">Animals <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Login</a></li>
                <li><a href="#">SignUp</a></li>
                <li class="divider"></li>
                <li><a href="#">User</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right search-form" role="search">
            <input type="text" class="form-control" placeholder="Search animal" />
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="container main-body">

    <br><br><br>
    <div class="inner-wrapper">
      #parse( $template )
    </div>
  </div>
</body>

</html>
