
<h2 class="text-center">All Sightings </h2>
	#if($sightings)
  <ul>
    #foreach ($sighting in $sightings)
      <li><a href="/sightings/$sighting.getId()">Ranger $sighting.getRangerName() spotted $sighting.getName() at $sighting.getLocation()</a></li>
    #end
  </ul>
	#else
  <p>No sightings Found. Add new Sighting!</p>
	#end
